name: Build mybatis-parent
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
  workflow_dispatch:
env:
  ARTIFACT_ID: mybatis-parent
  VERSION: 36
  GROUP_ID: org.mybatis
jobs:
  build:
    name: Maven Build
    "runs-on": self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          "java-version": 17
          distribution: temurin
          cache: maven
      - name: Build with Maven
        run: mvn clean package -DskipTests
      - name: Run Tests
        run: mvn test
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: mybatis-parent-war
          path: target/*.war
          "retention-days": 5
